<!doctype html>
<html>
<head>
  <title>Admin Login</title>
  <link rel="stylesheet" href="/static/style.css">
  <link rel="icon" type="image/png"
      href="{{ url_for('static', filename='favicon.png') }}">

</head>

<body>
  
<main class="content">
  <div class="page-wrapper">
<h1 class="page-title">Admin Login</h1>
  <div class="container login-card">
    <form method="post">
      <input name="username" type="text" placeholder="Admin Username" required>
      <input name="password" type="password" placeholder="Admin Password" required>
      <button type="submit">Login</button>
    </form>
  </div>
  </div>
</main>

<footer class="footer">
  © 2026 Harmony HomeoCare • Online Homeopathy Consultation • Powered by MediSync
</footer>

</body>
</html>
